body {
 	margin: 0;
  	padding: 0;
  	background: #ccc;
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/a7/b6/38/a7b638a44bbdeea3b5300338ff9f8cc8.jpg");
	background-attachment: fixed;
        background-position: center; 
}

#login{
	width: 20%;
	margin:auto;
	margin-top : 200px;
}

#username {
	margin-left: 3%;
}

#password {
	margin-left: 4%;
}

#loginB {
	margin-left: 38%;
}

#a1 {
	margin-left: 27%;
}

#a2 {
	margin-left: 5%;
}